section {
    text-align: center;
    width: 60em;
    margin: 0 auto;
}

form select {
    width: 30%;
}

.inActive {
	-webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}